* {background-color: black;
    box-sizing: border-box;}

body {color: white;}
a {color: red;} 
.body {font-family: "Bembo";}
.i {font-family: "Bembo Italic";}

.header{
    text-align: center;
    font-family: "Bembo Bold";
    text-decoration: red;
}

.content {
    display: grid;
    grid-template-columns: 1fr;   
}

.about{
    margin: auto;
    text-align: center;
    font-family: "Bembo";
    grid-column: 1;
    max-width: 1070px;
    font-size: 1.2em;
}

.image1 {
    height: 200px;
}

.image2 {
    height: 200px;
}

@font-face {
        font-family: "Bembo";
        src: url(Fonts/BemboStd.woff2);
}
@font-face {
    font-family: "Bembo Bold";
    src: url(Fonts/BemboStd-Bold.woff2);
}
@font-face {
    font-family: "Bembo Italic";
    src: url(Fonts/BemboStd-Italic.woff2);
}
@font-face {
    font-family: "Bembo SemiBold Italic";
    src: url(Fonts/BemboStd-SemiboldItalic.woff2);
}

@media only screen and (max-width: 700px) {
    .image1 {
        min-height: 330px;
    }
    .image2 {
        width: 350px;
    }
    h1 {
        margin-top: 12px;
        margin-bottom: 5px;
        font-size: 1.7rem;
        font-family: "Bembo";
    }
}