* {background-color: black;}
body {color: white;}
a {color: red;}
strong {font-family: "Bembo Bold";}
em {font-family: "Bembo Italic";}


.header {
    text-align: center;
    font-family: "Bembo Bold";
}

.return {
    font-family: "Bembo Bold";
    font-size: 1.15rem;
    text-decoration: underline;
    text-decoration-color: red;
    margin-right: auto;
}

.content {
    display: grid;
    grid-template-columns: 1fr 450px 0.9fr;
    grid-template-rows: 0.33fr 0.33fr;
    gap: 5px;
    margin-left: auto;
    margin-right: auto;
}

.image1 {
    max-width: 600px;
    max-height: 600px;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-left: auto;
    margin-top: 7px;
}

.image2 {
    max-width: 600px;
    max-height: 600px;
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-top: 7px;
}

.image3 {
    max-width: 600px;
    max-height: 298px;
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-right: auto;
    margin-top: 7px;
}

.image4 {
    max-width: 600px;
    max-height: 298px;
    grid-column: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-right: auto;
}

.title {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    color: red;
    font-family: "Bembo Bold";
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 5px;
}

.description {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    font-family: "Bembo";
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
}

.tags {
    text-align: center;
    font-family: "Bembo";
    font-size: 1.25rem;
}







@font-face {
    font-family: "Bembo";
    src: url(../../../Fonts/BemboStd.woff2);
}
@font-face {
font-family: "Bembo Bold";
src: url(../../../Fonts/BemboStd-Bold.woff2);
}
@font-face {
font-family: "Bembo Italic";
src: url(../../../Fonts/BemboStd-Italic.woff2);
}
@font-face {
font-family: "Bembo SemiBold Italic";
src: url(../../../Fonts/BemboStd-SemiboldItalic.woff2);
}
@font-face {
font-family: "Bembo Bold Italic";
src: url(../../../Fonts/BemboStd-BoldItalic.woff2);
}
@font-face {
font-family: "Bembo ExtraBold Italic";
src: url(../../../Fonts/BemboStd-ExtraBoldItalic.woff2);
}


@media only screen and (max-width: 1307.3px) {
    .content {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 0.5fr;
    }
    .image1 {
        grid-column: 1;
        grid-row: 1;
        max-width: 100%;
    }
    .image2 {
        grid-column: 2;
        grid-row: 1;
        max-width: 100%;
    }
    .image3 {
        grid-column: 1;
        grid-row: 2;
        max-width: 100%;
        margin-left: auto;
        margin-right: 0px;
        margin-top: 0px;
    }
    .image4 {
        grid-column: 2;
        grid-row: 2;
        max-width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        margin-top: 12px;
        margin-bottom: 5px;
        font-size: 1.7rem;
        font-family: "Bembo";
    }
}

