    * {background-color: black;}
body {color: white;}
a {color: red;}
strong {font-family: "Bembo Bold";}
em {font-family: "Bembo Italic";}

.header {
    text-align: center;
    font-family: "Bembo Bold";
}


.return {
    font-family: "Bembo Bold";
    font-size: 1.15rem;
    text-decoration: underline;
    margin-right: auto;
    text-decoration-color: red;
}

.content {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.5fr 0.1fr 0.4fr;
    gap: 10px;
}

.image {
    margin-top: 7px;
    max-width: 500px;
    max-height: 550px;
}

.secondaryimage {
    max-width: 400px;
    max-height: 400px;
    margin-top: 5px;
}

.primary {
    text-align: center;
    font-family: "Bembo Bold";
    font-size: 2.5rem;
    color: red;
    grid-column: 1;
    margin-left: auto;
}

.secondary {
    text-align: center;
    font-family: "Bembo Bold";
    font-size: 2.5rem;
    color: red;
    grid-column: 2;
    margin-right: auto;
}

.description {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 1.15rem;
    font-family:"Bembo";
    text-align: center;
    margin: auto;

}

.third {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: auto;
    font-family: "Bembo";
    text-align: center;
}

.tags {
    text-align: center;
    font-family: "Bembo";
    font-size: 1.25rem;
}


@font-face {
    font-family: "Bembo";
    src: url(../../../Fonts/BemboStd.woff2);
}
@font-face {
font-family: "Bembo Bold";
src: url(../../../Fonts/BemboStd-Bold.woff2);
}
@font-face {
font-family: "Bembo Italic";
src: url(../../../Fonts/BemboStd-Italic.woff2);
}
@font-face {
font-family: "Bembo SemiBold Italic";
src: url(../../../Fonts/BemboStd-SemiboldItalic.woff2);
}
@font-face {
font-family: "Bembo Bold Italic";
src: url(../../../Fonts/BemboStd-BoldItalic.woff2);
}
@font-face {
font-family: "Bembo ExtraBold Italic";
src: url(../../../Fonts/BemboStd-ExtraBoldItalic.woff2);
}

@media only screen and (max-width: 1000px) {
    .image {
        max-width: 100%;
    }
    .secondaryimage {
        max-width: 60%;
    }
}

@media only screen and (max-width: 750px) {
    h1 {
        margin-top: 12px;
        margin-bottom: 5px;
        font-size: 1.7rem;
        font-family: "Bembo";
    }
}
