* {background-color: black;}
body {color: white;}
a {color: red;}
strong {font-family: "Bembo Bold";}
em {font-family: "Bembo Italic";}

.header {
    text-align: center;
    font-family: "Bembo Bold";
}


.return {
    font-family: "Bembo Bold";
    font-size: 1.15rem;
    text-decoration: underline;
    text-decoration-color: red;
    margin-right: auto;
}

.content {
    display: grid;
    grid-template-columns: 0.5fr 0.3fr 0.3fr 0.2fr;
    grid-template-rows: 0.6fr 0.1fr 0.15fr 0.2fr 0.2fr 0.05fr;
    gap: 5px;
}

.image1 {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1;
}

.image2 {
    margin-left: auto;
    margin-right: auto;
    max-height: 400px;
    grid-column: 2;
    grid-row: 5;
}

.image3 {
    margin-left: auto;
    margin-right: auto;
    max-height: 400px;
    grid-column: 3;
    grid-row: 5;
}

.title {
    font-family: "Bembo Bold";
    color: red;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 2.5rem;
    grid-row: 2;
}


.writing1 {
    font-family: "Bembo";
    text-align: center;
    margin-bottom: 5px;
    margin-top: 0;
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 1.15rem;
    grid-row-start: 3;
    grid-column-end: 4;
}

.writing2 {
    font-family: "Bembo";
    text-align: center;
    margin-bottom: 0.05fr;
    margin-top: auto;
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 1.15rem;
    grid-row: 4;
}
.note1 {
    text-align: center;
    grid-column: 2;
    font-family: "Bembo";
    margin-top: 5px;
    margin-bottom: 5px;
    grid-row: 6
}

.note2 {
    text-align: center;
    grid-column: 3;
    font-family: "Bembo";
    margin-top: 5px;
    margin-bottom: 5px;
    grid-row: 6
}
.tags {
    text-align: center;
    font-family: "Bembo";
    font-size: 1.25rem;
}

@font-face {
    font-family: "Bembo";
    src: url(../../../Fonts/BemboStd.woff2);
}
@font-face {
font-family: "Bembo Bold";
src: url(../../../Fonts/BemboStd-Bold.woff2);
}
@font-face {
font-family: "Bembo Italic";
src: url(../../../Fonts/BemboStd-Italic.woff2);
}
@font-face {
font-family: "Bembo SemiBold Italic";
src: url(../../../Fonts/BemboStd-SemiboldItalic.woff2);
}
@font-face {
font-family: "Bembo Bold Italic";
src: url(../../../Fonts/BemboStd-BoldItalic.woff2);
}
@font-face {
font-family: "Bembo ExtraBold Italic";
src: url(../../../Fonts/BemboStd-ExtraBoldItalic.woff2);
}